<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('BZX')" data-ng-class="{active: currency.symbol == 'BZX'}">BZX</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mBZX')" data-ng-class="{active: currency.symbol == 'mBZX'}">mBZX</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uBZX')" data-ng-class="{active: currency.symbol == 'uBZX'}">uBZX</a>
  </li>
</ul>

